<div class="row">
    <div class="col-xs-12">
      <p>Add new Servers or blueprints!</p>
      <label>Server Name</label>
      <input type="text" class="form-control" #newServerNameRef>
      <label>Server Content</label>
      <input type="text" class="form-control" #newServerContentRef>
      <br>
      <button class="btn btn-primary" (click)="onAddServer(newServerNameRef)">Add Server</button>
      <button class="btn btn-primary" (click)="onAddBlueprint(newServerContentRef)">Add Server Blueprint</button>
    </div>
  </div>